# Node.js & Frontend Dependencies
/node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Laravel Storage & Public Assets
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Composer & PHP Dependencies
/vendor

# Environment & Configuration Files
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml

# IDE & Editor Files
/.idea
/.vscode
/.editorconfig

# Version Control
/.git
/.github
/.gitignore
/.gitattributes

# Testing
/tests
/phpunit.xml
/phpunit.xml.dist

# Documentation & Meta Files
/README.md
/.styleci.yml

# Docker
/docker
